PORT=8081
SESSION_SECRET=change-this-to-a-long-random-secret-in-production
KEYCLOAK_URL=http://localhost:8080
KEYCLOAK_REALM=mites-users
KEYCLOAK_CLIENT_ID=ras-bff
KEYCLOAK_CLIENT_SECRET=your-client-secret-here
BFF_BASE_URL=http://localhost:8081
SHELL_URL=http://localhost:9000
NODE_ENV=development
REDIS_URL=redis://localhost:6379
